	<% 
		var config = require('config');
		var title = title || config.siteName;
		var merge = merge || false; // merge 表示是否合并标题
		title = title + (merge ? ('-' + config.siteName) : '');
		var desc = desc || title;
	%>
	<title><%= title %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta charset="utf-8"/>
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="<%= desc %>">
	<link rel="icon" href="<%=config.websiteHomePage%>favicon.png" type="image/png">
	<link rel="stylesheet" href="<%= config.resSitePath %>lib/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="<%= config.resSitePath %>lib/bootstrap/3.3.1/css/bootstrap-theme.css">
	<style>
	.navbar-default {
		background-color: #41ABF7;
    	background-image: none;
    	color: white;
	}
	.navbar-default .navbar-brand {
		color: white;
		font-size: 18px;
	}
	.navbar-default .navbar-nav > li > a {
		color: white;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.38);
    	font-size: 16px;
	}
	.navbar-default .navbar-nav.nav-hover-dropdown>li:hover>a {
		background-image: none !important;
		background: white;
		color: #2a2a2a;
		text-shadow: 1px 1px 1px #e2dddd;
	}
	</style>