<!DOCTYPE html>
<html>
<head lang="zh-CN">
	<%= require('tpl/com_head.html')({title: '任意进制转换', merge: true}) %>

	<style>
	.form-inline{margin: 20px 0;}
	#result{font-size: 20px; color: red;}
	</style>

</head>
<body>
	<%= require('tpl/com_nav.html')({menus: require('../menus'), pageName: 'jinzhi'}) %>

	<div class="container">
		<h2>任意进制转换（支持2-36进制）</h2>
		<div class="form-inline">
			<div class="input-group">
				<span class="input-group-addon">将</span>
				<input id="input_radix" type="number" class="form-control" value="10" style="width: 80px;"/>
				<span class="input-group-addon">进制的</span>
				<input id="number" type="text" class="form-control" value="37651182854"/>
				<span class="input-group-addon">转成</span>
				<input id="output_radix" type="number" class="form-control" value="36" style="width: 80px;"/>
				<span class="input-group-addon">进制 </span>
			</div>
		</div>
		<div>结果为：<span id="result"></span></div>
	</div>
	
	<%= require('tpl/com_footer.html')() %>
</body>
</html>